html {
    width: 96%;
    margin: 1em auto 1em auto;
}
fieldset {
    background-color: rgba(100, 123, 125, 0.26);
    border-radius: 0.5em;
}
fieldset legend {
    background-color: rgb(125, 125, 125);
    border-radius: 0.3em;
    margin: 0.2rem 0.6rem 0.2rem 0.6rem;
    color: white;
}