body {
    width: 98%;
    margin: 10px auto 10px auto;
}

fieldset {
  background-color: rgba(100,125,125,0.26);
  border-radius: 0.5em;
  display: inline-block;
  margin-top: 1em;
}
fieldset legend {
  background-color: rgb(125,125,125);
  border-radius: 0.3rem;
  color: white;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
}
button {
  border-radius: 0.3rem;
  margin-top: 0.5rem;
}
input {
  border-radius: 0.3rem;
  font-size: 1.1rem;
  font-weight: 500;
}
